body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.carousel-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: calc(100vw * 7); /* 7 slides */
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* Boutons de navigation */
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    z-index: 2;
    cursor: pointer;
}

.nav-button.prev {
    left: 10px;
}

.nav-button.next {
    right: 10px;
}
